@font-face {
    font-family: 'Yugioh';
    src: url(../fontes/Yu-Gi-Oh!\ Matrix\ Book.ttf);
}
@font-face {
    font-family: 'Yugioh_2';
    src: url(../fontes/Yu-Gi-Oh!\ Matrix\ Regular\ Small\ Caps\ 2.ttf);
}

@font-face {
    font-family: 'Yugioh_3';
    src: url(../fontes/Yu-Gi-Oh!\ Matrix\ Book.ttf);
}

@font-face{
    font-family: 'Yugioh_4';
    src: url(../fontes/Yu-Gi-Oh!\ ITC\ Stone\ Serif\ Small\ Caps\ Bold.ttf);
}